* {
    outline: 1px solid red;
}

html {
    scroll-behavior: smooth;
}

body {
    /*
    * Created with https://www.css-gradient.com
    * Gradient link: https://www.css-gradient.com/?c1=4e5f69&c2=e95dae&gt=r&gd=dtr
    */
    background: #DF38EE;
    background: radial-gradient(at left bottom, #DF38EE, #AABEDB);
    background-repeat: no-repeat;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: Ubuntu, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

img {
    box-shadow: 0 0 10px 0 black;
    border: 3px solid black;
    border-radius: 1em;
}

/*#region header*/
header {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: sticky;
    top: 10px;
    border-radius: 1em;
    border: 3px solid black;
    box-shadow: 3px 3px black;
    flex-wrap: wrap;
    z-index: 3;
}

header h1 {
    padding-left: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style: none;
    font-size: 25px;
    padding-right: 2rem;
}

.nav-links a {
    text-transform: uppercase;
    font-size: 1rem;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f0c9";
    font-size: 2em;
}

@media screen and (max-width: 820px) {
    .hamburger {
        display: block;
        padding-right: 1em;
        padding-top: 1.5em;
        
    }

    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    .nav-links a {
        font-size: 1.5em;
    }

    .nav-links.active {
        display: flex;
    }
}
/*#endregion*/

/*#region about*/
#about {
    display: block;
    margin: auto;
    width: 90%;
    background-color: white;
    border-radius: 1em;
    border: 3px solid black;
    box-shadow: 3px 3px black;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    column-count: 2;
    gap: 2em;
    scroll-margin-top: 110px;
}

#about img {
    width: 80%;
    margin: 2em;
}

#about h2 {
    font-size: 2em;
    padding-left: 1em;
    column-span: all;
}

#about p {
    margin: auto;
    width: 80%;
    font-size: 1.3em;
    text-align: center;
    padding-bottom: 0.5em;
}
/*#endregion*/

#gridlayout {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-areas: 'education hobbies' 'projects hobbies';
    gap: 1em;
    width: 90%;
    margin: auto;
}

@media screen and (max-width: 768px) {
    #gridlayout {
        grid-template-areas: 'education' 'projects' 'hobbies';
        grid-template-columns: 1fr;
    }
}

#gridlayout section {
    background-color: white;
    border-radius: 1em;
    border: 3px solid black;
    box-shadow: 3px 3px black;
    scroll-margin-top: 110px;
}

#gridlayout h2 {
    font-size: 2em;
    padding-left: 1em;
    column-span: all;
}

#gridlayout h3 {
    font-size: 1.5em;
}

#dashedline {
    width: 80%;
    margin: auto;
    padding-top: 1em;
    border-bottom: 3px dashed gray;
}

/*#region education*/
#education {
    grid-area: education;
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
    max-width: 80%;
    margin: auto;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 20px;
    width: 3px;
    background: black;
}

.timeline li {
    position: relative;
    margin-bottom: 30px;
    padding-left: 50px;
}

.timeline li::before {
    content: '';
    position: absolute;
    left: 11px;
    top: 55px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    border: 3px solid black;
}

.content {
    border: 3px solid black;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content img {
    width: 100%;
}

.content .date {
    font-size: 1.5em;
    font-weight: bold;
}
/*#endregion*/

/*#region projects*/
#projects {
    grid-area: projects;
}

#projects img {
    width: 100%;
}

#projects article {
    border: 5px black;
    border-style :dashed;
    width: 80%;
    margin: auto;
    margin-bottom: 1em;
    text-align: center;
    padding: 1em;
}
/*#endregion*/

/*#region hobbies*/
#hobbies {
    grid-area: hobbies;
}

#hobbies article {
    padding: 1em;
}

#hobbies>p {
    text-align: center;
    width: 80%;
    margin: auto;
    font-style: italic;
}

#hobbies p {
    text-align: justify;
}

#pokemon {
    display: grid;
    grid-template-areas: 'title title title' 'text text nature' 'hunt shiny nature';
    grid-template-columns: 1fr 1fr 1fr;
}

#pokemon h3 {
    grid-area: title;
}

#pokemon p {
    grid-area: text;
}

#pokemon img:first-of-type {
    grid-area: nature;
    margin: auto;
    width: 80%;
}

#pokemon img:nth-of-type(2) {
    grid-area: hunt;
    margin: auto;
    width: 90%;
}

#pokemon img:nth-of-type(3) {
    grid-area: shiny;
    margin: auto;
    width: 90%;
}

#music {
    column-count: 2;
}

#music h3 {
    column-span: all
}

#music img {
    width: 100%;
}

#repairing {
    column-count: 2;
}

#repairing h3 {
    column-span: all
}

#repairing img {
    width: 100%;
}

#golfik img {
    width: 100%;
}

#golfik #columns {
    column-count: 2;
}

#golfik button {
    display: block;
    margin: auto;
    margin-bottom: 1em;
}

#golfik table {
    margin: auto;
}

#specs {
    display: none;
    border: 3px solid black;
}

#specs td, th {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
}

#sports {
    column-count: 2;
}

#sports h3 {
    column-span: all;
}

#sports img {
    width: 100%;
}
/*#endregion*/

/*#region contact*/
#contact {
    margin: auto;
    width: 90%;
    background-color: white;
    border-radius: 1em;
    border: 3px solid black;
    box-shadow: 3px 3px black;
    margin-top: 1em;
    margin-bottom: 1em;
    scroll-margin-top: 110px;
}

#contact ul li {
    list-style-type: none;
    text-align: center;
}

#contact ul li a {
    padding-left: 1em;
}

#contact ul li:first-of-type::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f0e0";
    font-size: 16px;
}

#contact ul li:nth-of-type(2)::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f095";
    font-size: 16px;
}

#contact ul li:nth-of-type(3)::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f126";
    font-size: 16px;
}
/*#endregion*/

/*#region footer*/
footer {
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    margin: 0;
    left: 0;
    position: absolute;
    display: flex;
    flex-direction: row;
}

footer #text {
    margin: auto;
}

footer img {
    width: 5%;
    height: max-content;
    margin: auto;
    padding: 1em;
    box-shadow: none;
    border: none;
    border-radius: 0;
}

footer img:first-of-type {
    width: 10%;
}
/*#endregion*/